//----------------------------------------------------------------------------
// Borland C++ Builder
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif

BOTTOM            RCDATA  Bas.png
RIGHT             RCDATA  Droite.png
LEFT              RCDATA  Gauche.png
TOP               RCDATA  Haut.png
RIGHTBOTTOMCORNER RCDATA  CoinBasDroite.png
LEFTBOTTOMCORNER  RCDATA  CoinBasGauche.png
RIGHTTOPCORNER    RCDATA  CoinHautDroite.png
LEFTTOPCORNER     RCDATA  CoinHautGauche.png