//----------------------------------------------------------------------------
// Borland C++ Builder
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif

BOTTOM            BITMAP  Bas.bmp
RIGHT             BITMAP  Droite.bmp
LEFT              BITMAP  Gauche.bmp
TOP               BITMAP  Haut.bmp
RIGHTBOTTOMCORNER BITMAP  CoinBasDroite.bmp
LEFTBOTTOMCORNER  BITMAP  CoinBasGauche.bmp
RIGHTTOPCORNER    BITMAP  CoinHautDroite.bmp
LEFTTOPCORNER     BITMAP  CoinHautGauche.bmp